.g-page-list-title {
    color: var(--c-content-title);
    font-size: var(--fs-content-title);
    font-weight: bold;
}

.g-page-list-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.g-page-list-action-right {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
}

.g-page-list-action-arround {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.g-page-list-action-item {
    padding-bottom: 0.7em;
}

.g-page-list-action-sort-left {
    float: left;
}

.g-page-list-action-sort-right {
    float: right;
    color: #8492a6;
    font-size: 13px
}

.g-page-list-action-label {
    font-size: 0.9em;
}

.g-page-list-pagination {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    padding-top: 1em;
    padding-bottom: 1em;
}

.g-page-list-pagination-info {
    font-size: 0.9em;
    text-align: center;
}